#cf1{
    background-color: lightpink;
    text-align: center;
}

#r1{
    border: 1px black solid;
}

#r1c3_1{
    background-color: lightblue;
}
#r1c3_2{
    background-color: lightgoldenrodyellow;
}
#r1c3_3{
    background-color: lightsteelblue;
}
#r1c3_4{
    background-color: lightgray;
}
